# [Auto generated: do not alter manually]
#
# Reticen8 suricata rule template, this configuration will be used together with all installed
# rules to generate the desired ruleset for Reticen8.
#
{% if helpers.exists('Reticen8.IDS.rules.rule') %}
{%      for rule in helpers.toList('Reticen8.IDS.rules.rule') %}
[rule_{{rule['@uuid']|replace('-', '')}}]
enabled={{ rule.enabled|default('0') }}
action={{ rule.action|default('') }}
sid={{ rule.sid|default('0') }}

{%      endfor %}
{% endif %}
